<a href="https://colab.research.google.com/github/rustkas/Google-Colab-Python/blob/main/Leve03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
ahsoka_height = float(1.7)
yoda_height = float(0.66)
r2d2_height = float(1.09)
c3po_height = float(1.75)
print((ahsoka_height + yoda_height + r2d2_height + c3po_height))

5.2

In [7]:
name = "Yoda"
print("Your name is " + name)
height = 0.66
age = 90
print("Your name, height and age is: " + name + ", " + str(height) + " and age is " + str(age))
print(type(name))
print(type(height))
print(type(age))

Your name is Yoda
Your name, height and age is: Yoda, 0.66 and age is 90
<class 'str'>
<class 'float'>
<class 'int'>

In [8]:
name1 = "Jack"
name2 = "Rose"
year = 1912
print(name1 + " and " + name2 + " were on the Titanic in " + str(year))

Jack Rose were on the Titanic in 1912

In [11]:
prinncipal=1000 # this is the initial amount in USD
rate =5 # annual interest rate in percentage
time =2 # in years
simpe_interest = prinncipal * rate * time /100

print("With a principal amount of "+ str(prinncipal) + " USD, at an annual interest rate of "+str(rate)+"%, in "+ str(time)+" years will earn "+ str(simpe_interest) + " USD in interest.")

With a principal amount of 1000USD, at an annual interest rate of 5%, in 2 years will earn 100.0 USD in interest.